{% extends "network/layout.html" %}

{% block body %}
<!-- new post box -->
<div class="new-post card mb-5">
    <div class="card-body">
        <h5>Edit Post</h5>
        <form action="/new" method="post">
            {% csrf_token %}
            <div class="mb-2">
                <textarea class="form-control" name="content" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
            <div class="mb-3">
                <button type="submit" class="btn btn-outline-primary">Post</button>
            </div>
        </form>
    </div>
</div>