{% extends "network/layout.html" %}

{% block body %}
<!-- new post box -->
<div class="new-post card mb-5">
    <div class="card-body">
        <h5>New Post</h5>
        <form action="/new" method="post">
            {% csrf_token %}
            <div class="mb-2">
                <label for="exampleFormControlTextarea1" class="form-label">What's on your mind, {{ user.username }} ?</label>
                <textarea class="form-control" name="content" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
            <div class="mb-3">
                <button type="submit" class="btn btn-outline-primary">Post</button>
            </div>
        </form>
    </div>
</div>

<!-- post box -->
{% for post in posts %}
<div class="post card mt-2">
    <div class="card-body">
        <a href="/profile/{{ post.author }}">
            <h5>{{ post.author }}</h5>
        </a>
        <p> {{ post.content }} </p>
        <p class="text-muted">{{ post.timestamp }}</p>
        <div style="display: flex;">
            <p class="text-muted" onclick="like_post('{{ post.id }}');"
            style="border: 1px solid silver; 
                    border-radius: 50px; 
                    width: 12%; 
                    padding: 2px; 
                    text-align: center;
                    margin-right: 10px;
                    cursor: pointer;">
                    &#10084; 
                    <span id="like-no-{{ post.id }}">{{ post.likes }}</span>
            </p>
            {% if post.author == user.username %}
                <p class="text-muted" id="edit-btn"
                style="border: 1px solid silver; 
                        border-radius: 50px; 
                        width: 12%; 
                        padding: 2px; 
                        text-align: center;">
                    <a href="/edit/{{ post.id }}"> &#9998; Edit </a>
                </p>
            {% endif %}
        </div>
    </div>
</div>
{% empty %}
No Posts to load.
{% endfor %}

<br>

{% if posts.has_other_pages %}
    <div class="btn-group" role="group" aria-label="Item pagination">
        {% if posts.has_previous %}
            <a href="?page={{ posts.previous_page_number }}" class="btn btn-outline-primary">&laquo;</a>
        {% endif %}

        {% for page_number in posts.paginator.page_range %}
            {% if posts.number == page_number %}
                <button class="btn btn-outline-primary active">
                    <span>{{ page_number }} <span class="sr-only">(current)</span></span>
                </button>
            {% else %}
                <a href="?page={{ page_number }}" class="btn btn-outline-primary">
                    {{ page_number }}
                </a>
            {% endif %}
        {% endfor %}

        {% if posts.has_next %}
            <a href="?page={{ posts.next_page_number }}" class="btn btn-outline-primary">&raquo;</a>
        {% endif %}
    </div>
{% endif %}

{% endblock %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
